body {
    margin: 0px
    background-color:black;
}


.logo {
    color: white;
    background-color: black;
}

.jeep-logo {
    width: 65px;
    margin-right: 0px;
    */
}

.navbar-toggler-icon {}

.navbar-inverse .navbar-toggler-icon {

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



h3 {
    color:red;
}

p {
    color:green;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.black-friday img {
    height:66px;
}